<a href="https://colab.research.google.com/github/beriaacan/Radon/blob/main/1_Data_Collection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#libraries
import pandas as pd
from googleapiclient.discovery import build
from google.oauth2 import service_account
import time
from prophet import Prophet
import matplotlib.pyplot as plt
from datetime import datetime
import numpy as np
import seaborn as sns #korelasyon matrisi icin
import matplotlib.pyplot as plt
import os

In [ ]:
# This mounts your Google Drive to the Colab VM.
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
FOLDERNAME ='bitirme/'
assert FOLDERNAME is not None, "[!] Enter the foldername."

# Now that we've mounted your Drive, this ensures that
# the Python interpreter of the Colab VM can load
# python files from within it.
import sys
sys.path.append('/content/drive/My Drive/{}'.format(FOLDERNAME))

In [ ]:
# Constants
SERVICE_ACCOUNT_FILE = 'drive/MyDrive/bitirme/radondata-1234-aacc234f0c5a.json'
SPREADSHEET_ID = '1oddL5AANo3HQPJyKxSqiuOg7N7z7Zie9PtUmaBvO9ho'
SCOPES = ['https://www.googleapis.com/auth/spreadsheets']

In [ ]:
creds = None
creds = service_account.Credentials.from_service_account_file(
        SERVICE_ACCOUNT_FILE, scopes=SCOPES)

In [ ]:
# Servisi oluştur
service = build("sheets", "v4", credentials=creds)

# Erişmek istediğiniz Google Sheets dosyasının ID'si
SPREADSHEET_ID = '1oddL5AANo3HQPJyKxSqiuOg7N7z7Zie9PtUmaBvO9ho'  # Google Sheets dosya ID'sini ekleyin

# Google Sheets dosyasındaki sayfa adlarını al
spreadsheet_info = service.spreadsheets().get(spreadsheetId=SPREADSHEET_ID).execute()
sheet_names = [sheet['properties']['title'] for sheet in spreadsheet_info['sheets']]

# Elde edilen sayfa adlarını yazdır
print("Sheet Names:", sheet_names)

Sheet Names: ['data_+905367791473_tel', 'data_+905396792291_tel', 'data_+905396792336_tel', 'data_+905396792349_tel', 'data_+905396792354_tel', 'data_+905396792367_tel', 'data_+905396792370_tel', 'data_+905396792372_tel', 'data_+905396792374_tel', 'data_+905396792381_tel', 'data_+905396792391_tel', 'data_+905396792392_tel', 'data_+905396792413_tel', 'data_+905396792421_tel', 'data_+905396792427_tel', 'data_+905396792434_tel', 'data_+905396792435_tel', 'data_+905396792437_tel', 'data_+905396792438_tel', 'data_+905396792448_tel', 'data_+905396792452_tel', 'data_+905396792459_tel', 'data_+905396792487_tel', 'data_+905396792489_tel', 'data_+905396792490_tel', 'data_+905396792491_tel', 'data_+905396792843_tel', 'data_+905396792846_tel', 'data_+905396792851_tel', 'data_+905396792925_tel', 'data_+905396793144_tel', 'data_+905396793146_tel', 'data_+905396793149_tel', 'data_+905396793157_tel', 'data_+905396793168_tel', 'data_+905396793171_tel', 'data_+905396793181_tel', 'data_+905396793193_tel', 'data_+905396793194_tel', 'data_+905396793196_tel', 'data_+905396793221_tel', 'data_+905396793223_tel', 'data_+905396793225_tel', 'data_+905396793229_tel', 'data_+905396793234_tel', 'data_+905396793243_tel', 'data_+905396793251_tel', 'data_+905396793256_tel', 'data_+905396793257_tel', 'data_+905396793276_tel', 'data_+905396793283_tel', 'data_+905396793291_tel', 'data_+905396793292_tel', 'data_+905396793312_tel', 'data_+905396793315_tel']

In [ ]:
# Specify the sheet name you want to access
chosen_sheet = 'data_+905367791473_tel'

result = service.spreadsheets().values().get(spreadsheetId=SPREADSHEET_ID, range=chosen_sheet).execute()

# Extract the values from the result
values = result.get('values', [])

# Check if there is any data
if not values:
    print('No data found.')
else:
    # Convert the data to a Pandas DataFrame
    df_chosen_sheet = pd.DataFrame(values[1:], columns=values[0])

    # Print the DataFrame
    print(f"Selected Sheet: {chosen_sheet}")

df_chosen_sheet.head()

Selected Sheet: data_+905367791473_tel

,tarih,amain,meanAM0,stDevG1,meanAM1,stDevG2,meanAM6,stDeva6,meanAM7,stDeva7,...,meanTemp,stDevT,meanHum,stDevH,meanPres,stDevP,Su_motor,stDev_motor,ML,ML_distance
0,22.8.23-15:48:9,"1,001","417,001","0,471","104,001","36,091","513,001","0,361","209,001","18,791",...,"42,251","0,441","18,541","3,081","1005,781","0,071","62,391","0,591",None,None
1,22.8.23-17:39:19,"1,001","417,001","0,371","67,001","0,471","513,001","0,421","236,001","16,481",...,"42,641","0,651","17,371","0,751","1005,541","0,041","64,421","0,321",None,None
2,22.8.23-18:40:31,"2,001","417,001","0,501","65,001","0,471","513,001","0,261","242,001","1,871",...,"38,731","1,121","26,781","3,741","1005,721","0,121","62,861","0,961",None,None
3,22.8.23-19:41:44,"3,001","415,001","0,471","64,001","0,901","513,001","0,361","245,001","0,541",...,"35,331","0,891","33,671","1,771","1006,471","0,191","56,581","1,631",None,None
4,22.8.23-20:42:56,"4,001","415,001","0,501","64,001","0,471","513,001","0,131","246,001","1,121",...,"32,511","0,651","40,511","2,201","1006,971","0,111","52,421","0,951",None,None

In [ ]:
# Function to get sheet information
def get_sheet_info(service, spreadsheet_id, sheet_name):
    result = service.spreadsheets().values().get(spreadsheetId=spreadsheet_id, range=sheet_name).execute()
    values = result.get('values', [])
    num_rows = len(values)
    num_columns = len(values[0]) if values and len(values) > 0 else 0
    return {
        'sheet_name': sheet_name,
        'num_rows': num_rows,
        'num_columns': num_columns
    }

# Get information for all sheets
all_sheet_info = []
for sheet_name in sheet_names:
    sheet_info = get_sheet_info(service, SPREADSHEET_ID, sheet_name)
    all_sheet_info.append(sheet_info)

# Convert the information to a Pandas DataFrame
df_sheet_info = pd.DataFrame(all_sheet_info)

# Print the DataFrame
print('Sheet Information:')
print(df_sheet_info)

Sheet Information:
                sheet_name  num_rows  num_columns
0   data_+905367791473_tel      2452           22
1   data_+905396792291_tel      2510           22
2   data_+905396792336_tel      2741           22
3   data_+905396792349_tel      2525           22
4   data_+905396792354_tel      2258           22
5   data_+905396792367_tel       991           22
6   data_+905396792370_tel       899           22
7   data_+905396792372_tel         1           22
8   data_+905396792374_tel      2015           22
9   data_+905396792381_tel      2513           22
10  data_+905396792391_tel         1           22
11  data_+905396792392_tel      2521           22
12  data_+905396792413_tel         1           22
13  data_+905396792421_tel      2368           22
14  data_+905396792427_tel      2635           22
15  data_+905396792434_tel      2540           22
16  data_+905396792435_tel      2509           22
17  data_+905396792437_tel      2272           22
18  data_+905396792438_tel         1           22
19  data_+905396792448_tel      2422           22
20  data_+905396792452_tel       972           22
21  data_+905396792459_tel      1073           22
22  data_+905396792487_tel      2418           22
23  data_+905396792489_tel      2403           22
24  data_+905396792490_tel      2071           22
25  data_+905396792491_tel      2491           22
26  data_+905396792843_tel      2445           22
27  data_+905396792846_tel      2463           22
28  data_+905396792851_tel         3           22
29  data_+905396792925_tel      2516           22
30  data_+905396793144_tel       622           22
31  data_+905396793146_tel         1           22
32  data_+905396793149_tel      2212           22
33  data_+905396793157_tel      2683           22
34  data_+905396793168_tel      2256           22
35  data_+905396793171_tel      1238           22
36  data_+905396793181_tel      2259           22
37  data_+905396793193_tel      2526           22
38  data_+905396793194_tel      2590           22
39  data_+905396793196_tel      2719           22
40  data_+905396793221_tel      2758           22
41  data_+905396793223_tel      2623           22
42  data_+905396793225_tel         1           22
43  data_+905396793229_tel      1102           22
44  data_+905396793234_tel      2122           22
45  data_+905396793243_tel      2624           22
46  data_+905396793251_tel      1953           22
47  data_+905396793256_tel      2378           22
48  data_+905396793257_tel      2146           22
49  data_+905396793276_tel      2772           22
50  data_+905396793283_tel      2872           22
51  data_+905396793291_tel      2802           22
52  data_+905396793292_tel      2559           22
53  data_+905396793312_tel      2276           22
54  data_+905396793315_tel         1           22

In [ ]:
# Filter out rows where num_rows is 1
filtered_df_sheet_info = df_sheet_info[df_sheet_info['num_rows'] > 2000]
#ben burada küçültmüş oldum elimdeki verisetini ama eksik data coktu bu kısmı tekrar güncelleyebilirim

print('Filtered Sheet Information:')
print(filtered_df_sheet_info)

Filtered Sheet Information:
                sheet_name  num_rows  num_columns
0   data_+905367791473_tel      2452           22
1   data_+905396792291_tel      2510           22
2   data_+905396792336_tel      2741           22
3   data_+905396792349_tel      2525           22
4   data_+905396792354_tel      2258           22
8   data_+905396792374_tel      2015           22
9   data_+905396792381_tel      2513           22
11  data_+905396792392_tel      2521           22
13  data_+905396792421_tel      2368           22
14  data_+905396792427_tel      2635           22
15  data_+905396792434_tel      2540           22
16  data_+905396792435_tel      2509           22
17  data_+905396792437_tel      2272           22
19  data_+905396792448_tel      2422           22
22  data_+905396792487_tel      2418           22
23  data_+905396792489_tel      2403           22
24  data_+905396792490_tel      2071           22
25  data_+905396792491_tel      2491           22
26  data_+905396792843_tel      2445           22
27  data_+905396792846_tel      2463           22
29  data_+905396792925_tel      2516           22
32  data_+905396793149_tel      2212           22
33  data_+905396793157_tel      2683           22
34  data_+905396793168_tel      2256           22
36  data_+905396793181_tel      2259           22
37  data_+905396793193_tel      2526           22
38  data_+905396793194_tel      2590           22
39  data_+905396793196_tel      2719           22
40  data_+905396793221_tel      2758           22
41  data_+905396793223_tel      2623           22
44  data_+905396793234_tel      2122           22
45  data_+905396793243_tel      2624           22
47  data_+905396793256_tel      2378           22
48  data_+905396793257_tel      2146           22
49  data_+905396793276_tel      2772           22
50  data_+905396793283_tel      2872           22
51  data_+905396793291_tel      2802           22
52  data_+905396793292_tel      2559           22
53  data_+905396793312_tel      2276           22

In [ ]:
len(filtered_df_sheet_info)

39

###COPY FILE###

In [ ]:
# Create a directory to store CSV files
csv_folder_path = '/content/drive/My Drive/bitirme/radon_analysis_final/full_data_csv'
os.makedirs(csv_folder_path, exist_ok=True)

# Function to get sheet values for a specific sheet
def get_sheet_values(service, spreadsheet_id, sheet_name):
    result = service.spreadsheets().values().get(spreadsheetId=spreadsheet_id, range=sheet_name).execute()
    values = result.get('values', [])
    return values

# Save each sheet as a CSV file in the specified folder
for index, row in filtered_df_sheet_info.iterrows():
    sheet_name = row['sheet_name']
    sheet_values = get_sheet_values(service, SPREADSHEET_ID, sheet_name)

    # Convert the sheet values to a Pandas DataFrame
    df_sheet_content = pd.DataFrame(sheet_values[1:], columns=sheet_values[0])

    # Exclude the last two columns
    df_sheet_content = df_sheet_content.iloc[:, :-2]

    # Save the DataFrame as a CSV file
    csv_file_path = os.path.join(csv_folder_path, f"{sheet_name}.csv")
    df_sheet_content.to_csv(csv_file_path, index=False)

    print(f"CSV file saved: {csv_file_path}")

print(f'All CSV files saved to: {csv_folder_path}')

CSV file saved: /content/drive/My Drive/bitirme/radon_analysis_final/full_data_csv/data_+905367791473_tel.csv
CSV file saved: /content/drive/My Drive/bitirme/radon_analysis_final/full_data_csv/data_+905396792291_tel.csv
CSV file saved: /content/drive/My Drive/bitirme/radon_analysis_final/full_data_csv/data_+905396792336_tel.csv
CSV file saved: /content/drive/My Drive/bitirme/radon_analysis_final/full_data_csv/data_+905396792349_tel.csv
CSV file saved: /content/drive/My Drive/bitirme/radon_analysis_final/full_data_csv/data_+905396792354_tel.csv
CSV file saved: /content/drive/My Drive/bitirme/radon_analysis_final/full_data_csv/data_+905396792374_tel.csv
CSV file saved: /content/drive/My Drive/bitirme/radon_analysis_final/full_data_csv/data_+905396792381_tel.csv
CSV file saved: /content/drive/My Drive/bitirme/radon_analysis_final/full_data_csv/data_+905396792392_tel.csv
CSV file saved: /content/drive/My Drive/bitirme/radon_analysis_final/full_data_csv/data_+905396792421_tel.csv
CSV file saved: /content/drive/My Drive/bitirme/radon_analysis_final/full_data_csv/data_+905396792427_tel.csv
CSV file saved: /content/drive/My Drive/bitirme/radon_analysis_final/full_data_csv/data_+905396792434_tel.csv
CSV file saved: /content/drive/My Drive/bitirme/radon_analysis_final/full_data_csv/data_+905396792435_tel.csv
CSV file saved: /content/drive/My Drive/bitirme/radon_analysis_final/full_data_csv/data_+905396792437_tel.csv
CSV file saved: /content/drive/My Drive/bitirme/radon_analysis_final/full_data_csv/data_+905396792448_tel.csv
CSV file saved: /content/drive/My Drive/bitirme/radon_analysis_final/full_data_csv/data_+905396792487_tel.csv
CSV file saved: /content/drive/My Drive/bitirme/radon_analysis_final/full_data_csv/data_+905396792489_tel.csv
CSV file saved: /content/drive/My Drive/bitirme/radon_analysis_final/full_data_csv/data_+905396792490_tel.csv
CSV file saved: /content/drive/My Drive/bitirme/radon_analysis_final/full_data_csv/data_+905396792491_tel.csv
CSV file saved: /content/drive/My Drive/bitirme/radon_analysis_final/full_data_csv/data_+905396792843_tel.csv
CSV file saved: /content/drive/My Drive/bitirme/radon_analysis_final/full_data_csv/data_+905396792846_tel.csv
CSV file saved: /content/drive/My Drive/bitirme/radon_analysis_final/full_data_csv/data_+905396792925_tel.csv
CSV file saved: /content/drive/My Drive/bitirme/radon_analysis_final/full_data_csv/data_+905396793149_tel.csv
CSV file saved: /content/drive/My Drive/bitirme/radon_analysis_final/full_data_csv/data_+905396793157_tel.csv
CSV file saved: /content/drive/My Drive/bitirme/radon_analysis_final/full_data_csv/data_+905396793168_tel.csv
CSV file saved: /content/drive/My Drive/bitirme/radon_analysis_final/full_data_csv/data_+905396793181_tel.csv
CSV file saved: /content/drive/My Drive/bitirme/radon_analysis_final/full_data_csv/data_+905396793193_tel.csv
CSV file saved: /content/drive/My Drive/bitirme/radon_analysis_final/full_data_csv/data_+905396793194_tel.csv
CSV file saved: /content/drive/My Drive/bitirme/radon_analysis_final/full_data_csv/data_+905396793196_tel.csv
CSV file saved: /content/drive/My Drive/bitirme/radon_analysis_final/full_data_csv/data_+905396793221_tel.csv
CSV file saved: /content/drive/My Drive/bitirme/radon_analysis_final/full_data_csv/data_+905396793223_tel.csv
CSV file saved: /content/drive/My Drive/bitirme/radon_analysis_final/full_data_csv/data_+905396793234_tel.csv
CSV file saved: /content/drive/My Drive/bitirme/radon_analysis_final/full_data_csv/data_+905396793243_tel.csv
CSV file saved: /content/drive/My Drive/bitirme/radon_analysis_final/full_data_csv/data_+905396793256_tel.csv
CSV file saved: /content/drive/My Drive/bitirme/radon_analysis_final/full_data_csv/data_+905396793257_tel.csv
CSV file saved: /content/drive/My Drive/bitirme/radon_analysis_final/full_data_csv/data_+905396793276_tel.csv
CSV file saved: /content/drive/My Drive/bitirme/radon_analysis_final/full_data_csv/data_+905396793283_tel.csv
CSV file saved: /content/drive/My Drive/bitirme/radon_analysis_final/full_data_csv/data_+905396793291_tel.csv
CSV file saved: /content/drive/My Drive/bitirme/radon_analysis_final/full_data_csv/data_+905396793292_tel.csv
CSV file saved: /content/drive/My Drive/bitirme/radon_analysis_final/full_data_csv/data_+905396793312_tel.csv
All CSV files saved to: /content/drive/My Drive/bitirme/radon_analysis_final/full_data_csv